* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header,
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  border-bottom: 1px solid #46a35880;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

header button {
  display: flex;
  background-color: #46a358;
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  border: 1px solid #46a358;
  border-radius: 7px;
  cursor: pointer;
}

header button:hover {
  background-color: #fff;
  border: 1px solid #46a358;
  color: #46a358;
  fill: #46a358;
  transition: all 0.5s;
}

header button:hover svg {
  fill: #46a358;
  transition: all 0.3s;
}

nav {
  display: flex;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 7px 20px;
}

a {
  font-weight: 400;
  color: #3d3d3d;
  padding: 25px 10px;
  text-decoration: none;
}

.logo-a-header {
  padding-bottom: 10px;
}

header nav a:hover {
  font-weight: 500;
  border-bottom: 3px solid #46a358;
  transition: all 0.2s;
}

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 50px;
  padding: 0;
  cursor: pointer;
}

.header-cart:hover svg path {
  fill: #46a358;
  transition: all 0.5s;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.header-search:hover svg {
  fill: #46a358;
  transition: all 0.5s;
}

.num-product {
  position: absolute;
  right: -5px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #46a358;
  color: #fff;
}

.num-product p {
  font-size: x-small;
}

.textWelcome {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.SectionWelcome {
  background-color: rgb(247, 247, 247);
  margin-top: 12px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.SectionWelcome img {
  width: 505px;
  height: 450px;
}

.SectionWelcome div {
  max-width: 50%;
  padding: 70px 0 0 40px;
}

.SectionWelcome div h4,
.SectionWelcome div p {
  color: #3d3d3d;
  margin: 0;
}

.SectionWelcome div p {
  margin-bottom: 45px;
}

.SectionWelcome button {
  font-weight: 700;
  background-color: #46a358;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border: 1px solid #46a358;
  border-radius: 7px;
  cursor: pointer;
}

.SectionWelcome button:hover {
  background-color: #fff;
  border: 1px solid #46a358;
  color: #46a358;
  transition: all 0.5s;
}

header nav li:hover > .container-submenu1 {
  display: block;
}

.a-priming img {
  padding-left: 100px;
  margin: 0;
  width: 12px;
}

.submenu1 li,
.submenu2 li {
  padding: 3px 0;
}

.submenu1 li a,
.submenu2 li a {
  display: block;
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
}

.submenu1 {
  display: flex;
  flex-direction: column;
}

.submenu2 {
  display: flex;
  flex-direction: column;
}

.submenu1 a {
  padding: inherit;
  margin: inherit;
}

.container-submenu1 {
  display: none;
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 200px;
  margin-top: 27px;
}

.container-submenu2 {
  display: none;
  position: absolute;
  background-color: rgb(233, 233, 233);
  width: 250px;
  left: 100%;
  top: 0;
}

.container-submenu1 li a:hover {
  background-color: #5d7c63;
  color: #fff;
  border: none;
  transition: all 0.5s;
}

.container-submenu1 li:hover > .container-submenu2 {
  display: block;
  transition: all 0.5s;
}

/* Second task */

div h1 {
  color: #3d3d3d;
  font-size: 70px;
  line-height: 70px;
  margin: 0;
}

div h1 span {
  color: #46a358;
}

section.second-section {
  display: flex;
  margin-top: 30px;
  height: inherit;
}

section.second-section::after {
  content: "";
  display: table;
  clear: left;
}

div.left-container ul {
  margin-bottom: 225px;
}

div.left-container ul li {
  display: flex;
  column-gap: 0;
  padding: 0;
}

div.left-container ul li a {
  display: flex;
  padding: 10px 0;
}

.left-container {
  background-color: rgb(247, 247, 247);
  width: 300px;
  padding-left: 0px;
  height: 770px;
}

.left-container h3 {
  color: #3d3d3d;
  margin-left: 30px;
  margin-top: 30px;
}

.left-container ul li a:hover {
  font-weight: 700;
  color: #46a358;
  transition: all 0.3s;
}

.left-container a {
  padding-left: 0;
}

.right-container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 100%;
}

.sort select {
  border: none;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  row-gap: 70px;
}

.product-container article {
  align-items: flex-start;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top: 1px solid transparent;
}

.product-item a {
  padding: 0;
  margin: 0;
}

.product-item-text {
  margin-top: 12px;
}

.tabs a {
  padding-bottom: 0;
  border-bottom: 3px solid transparent;
}

.tabs a:hover {
  font-weight: 500;
  color: #46a358;
  padding-bottom: 0;
  border-bottom: 3px solid #46a358;
  transition: all 0.3s;
}

.top-panel {
  display: flex;
  margin-bottom: 30px;
}

.tabs {
  margin-left: 50px;
}

.sort {
  display: flex;
  margin-left: auto;
}

.sort-short {
  margin-left: 20px;
}

.product-title {
  font-weight: 400;
}

.product-price {
  font-weight: 700;
  color: #46a358;
}

.product-backgr {
  background-color: rgb(247, 247, 247);
  width: 250px;
  height: 250px;
}

.page-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 50px 0 50px 0;
}

.btn-page,
.active-btn-page {
  width: 40px;
  height: 45px;
}

div.page-btn button {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
}

button.btn-page:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

button.btn-page {
  background-color: #fff;
  border: 1px solid #fff;
}

button.btn-page img {
  margin: 0;
}

button.btn-page:hover {
  color: #46a358;
  border-color: #46a358;
  font-weight: 700;
  transition: all 0.3s;
}

button.active-btn-page {
  background-color: #46a358;
  color: #fff;
}

article button {
  fill: #3d3d3d;
}

article button img:hover {
  fill: #46a358;
}

.cart,
.like,
.search {
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.cart {
  left: 48px;
  bottom: 70px;
}

.like {
  left: 105px;
  bottom: 70px;
}

.search {
  left: 163px;
  bottom: 70px;
}

.cart:hover,
.like:hover,
.search:hover {
  fill: #46a358;
}

.like img,
.cart img,
.search img {
  margin: 0;
}

.product-item:hover .cart,
.product-item:hover:hover .like,
.product-item:hover:hover .search {
  display: block;
  margin: 0;
  transition: all 0.5s;
}

.product-item:hover {
  border-top: 1px solid #46a358;
  margin: 0;
  transition: all 0.3s;
}

.sale {
  position: absolute;
  top: 20px;
  background-color: #46a358;
  color: #fff;
  padding: 5px 7px;
}

.old-price {
  position: absolute;
  left: 70px;
  bottom: 0;
  font-weight: 300;
  text-decoration: line-through;
  color: #cbcbcb;
}

/* Third Section*/

.third-section {
  margin-top: 30px;
}

.main-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: relative;
}

.left-card,
.right-card {
  display: flex;
  background-color: rgb(247, 247, 247);
  color: #3d3d3d;
  width: 45%;
  padding: 20px 20px;
}

.left-card img,
.right-card img {
  position: absolute;
  bottom: 35px;
}

.left-card button,
.right-card button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #46a358;
  color: #fff;
  border: 1px solid #46a358;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  gap: 7px;
  cursor: pointer;
}

.left-card button:hover,
.right-card button:hover {
  background-color: #fff;
  border: 1px solid #46a358;
  color: #46a358;
  transition: all 0.5s;
}

.left-card button:hover svg,
.right-card button:hover svg {
  fill: #46a358;
  transition: all 0.3s;
}

.left-card-text,
.right-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 15px 15px 0 auto;
  text-align: right;
  width: 50%;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.bottom-text {
  color: #3d3d3d;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.bt-card-text {
  margin-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.bt-card-text p {
  font-size: 14px;
}

.bt-card-text h3 {
  color: #3d3d3d;
  font-size: 20px;
}

.bt-card-text a {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.bt-card-text a:hover {
  color: #46a358;
  transition: all 0.3s;
}

.bottom-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 70px;
  gap: 42px;
}

.bottom-card {
  width: 268px;
  min-height: 300px;
  background-color: rgb(247, 247, 247);
}

.bottom-card p:first-child {
  color: #46a358;
}

/* Fourth Section*/

.fourth-section {
  background-color: rgb(247, 247, 247);
  padding-top: 30px;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.input-container {
  width: 340px;
  margin-right: 20px;
}

.input-container h3 {
  color: #3d3d3d;
}

.img-text {
  border-right: 2px solid #46a3581a;
  padding-right: 20px;
  margin-left: 20px;
}

.img-text h3 {
  margin-bottom: 7px;
  color: #3d3d3d;
}

.footer-input {
  display: flex;
  margin: 25px 0;
}

.footer-input input {
  width: 250px;
  padding: 10px;
  margin: 0;
  border: none;
  box-shadow: 0 0 8px 2px rgba(100, 100, 100, 0.2);
  border-radius: 5px 0 0 5px;
}

.footer-input button {
  padding: 10px 20px;
  font-weight: 700;
  background-color: #46a358;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  border: 1px solid #46a358;
  cursor: pointer;
}

.footer-input button:hover {
  background-color: #fff;
  border: 1px solid #46a358;
  color: #46a358;
  transition: all 0.5s;
}

.middle-container {
  display: flex;
  margin-top: 30px;
  min-height: 90px;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}

.middle-pack {
  display: flex;
}

/* Footer */

footer {
  display: flex;
  background-color: rgb(247, 247, 247);
  border-bottom: 2px solid rgba(70, 163, 88, 0.2);
  padding-bottom: 30px;
}

.footer-nav h3 {
  color: #3d3d3d;
}

.footer-nav {
  margin: 50px 120px 0 20px;
}

.footer-nav ul li a {
  padding: 0;
}

.footer-nav ul li a:hover {
  font-weight: 700;
  color: #46a358;
  transition: all 0.3s;
}

.footer-nav ul {
  padding-left: 0;
}

.footer-nav ul li {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.social-media {
  margin-top: 50px;
}

.social-media h3 {
  color: #3d3d3d;
}

.social-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(70, 163, 88, 0.2);
  cursor: pointer;
}

.reg-a {
  padding: 0;
}

.social:hover {
  border: 2px solid #46a358;
}

.payment {
  margin-top: 20px;
}

.payment svg {
  margin-right: 10px;
}

.end-words {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Adaptiv */

@media (max-width: 1200px) {
  .SectionWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 12px;
  }

  .SectionWelcome .textWelcome {
    padding-left: 0;
  }

  .textWelcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .bottom-cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }

  .social-container {
    flex-wrap: wrap;
  }

  .product-container {
    justify-content: space-around;
  }

  .product-item {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  header nav {
    display: none;
  }

  .left-card img,
  .right-card img {
    display: none;
  }

  .left-card,
  .right-card {
    display: flex;
  }

  .left-card-text,
  .right-card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .left-container {
    width: 170px;
  }

  .left-container img {
    width: 170px;
  }

  .top-container {
    display: flex;
    flex-wrap: wrap;
  }

  .img-text {
    border-right: none;
    border-top: 2px solid #46a3581a;
    padding-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-container {
    margin-left: 20px;
  }

  .middle-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .main-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .top-panel {
    display: none;
  }

  .left-container {
    display: none;
  }

  .second-section {
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .product-container {
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .page-btn {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 605px) {
  header .header-search,
  header .header-cart {
    display: none;
  }

  .SectionWelcome img {
    display: none;
  }

  .textWelcome h1 {
    font-size: 50px;
  }

  .product-item {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  header button {
    display: flex;
    background-color: #46a358;
    color: #fff;
    font-weight: 300;
    padding: 5px 15px;
    border: 1px solid #46a358;
    border-radius: 7px;
    cursor: pointer;
  }

  .bottom-cards {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .input-container {
    width: 270px;
  }

  .end-words {
    font-size: 12px;
  }
}
